@{
    ViewBag.Title = "Home Page";
}


<div class="container, padding">
    <div class="row">
        <div class=" = col-md-4">
            <img class ="solasimg" src="/Content/Images/SolasHeader2.jpg" alt="Solas">
        </div>
        <div class="col-md-8">
            <h1>Solas Bar NYC</h1>
            <p>Solas Bar is located in the East Village in Manhattan NYC and is a great bar to come and chill with friends (or not), and grab a drink. Here at Solas we drive to create a relaxed atmosphere with an alternative vibe. We have private areas for groups to relax aswel as TV's to catch some sports or news. We have happy hour from 4pm - 8pm and a late night happy hour from 8pm - 4am, Sunday to Thursday. During the week we offer events such as Tango(Tuesday), Salsa(Wednesday), and Couch Surfing social evening (Thursday). We can also cater for you if you would like to stage your own event or party on any of these days during the week.</p>
            <p>Just like most people on the weekends we like to let our hair down and turn the music up. You can find us open on Fridays and Saturdays in three bars where we can cater your party (up to 11pm). We have our main bar for you to hang out with friends and in our other bar we have our resident Dj spinning beats that will make you want to jump around and let your hair down. We tend to seperate bars based on music genre so if you want to hear some hip-hop, Edm, or plane old chart, Solas is the place for you on the weekends. We don't have a cover charge and we are happy to help you with any queries that you have.</p>
            <p>Here at Solas, we're here for you and hope to give you the best night we can. We have a full drink menu with house cocktails and we here for your enjoyment. Stop by or drop a line, we're happy to help. See you soon.</p>
        </div>
    </div>
</div>